<div class="card" id="login-signup-card">
    <h3 class="card-header" id="login-signup-header">Login</h3>
        <form id="login-form" class="card-body">
            {{!-- username input --}}
            <label class="form-label" for="username-login">Username</label>
            <input  id="username-login" type="text" autofocus="true" class="form-input" />
            {{!-- password input --}}
            <label class="form-label" for="password-login">Password</label>
            <input id="password-login" type="password" autofocus="true" class="form-input" />
            {{!-- link to signup page instead of login --}}
            <button type="submit" class="btn">Login!</button>
            <a class="login-link" href="/signup">Sign up instead</a>
      </form>
</div>
    
<script src="/javascript/login.js"></script>